
.center-hr {
  width: 25%; /* Adjust the width to your preference */
  margin-left: auto;
  margin-right: auto;/* Optional: change color or style of the line */
}
#features-section {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 380px 190px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

div#features-carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 60vw; /* Adjust width to make space for three items */
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 800px; /* Increase perspective to make the 3D effect more prominent */
  --items: 5;
  --middle: 3;
  --position: 1; /* Start at position 1 */
  pointer-events: none;
}

div.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  bottom: 20%;
  padding: 30px 40px;
  width: 300px;
  height: 400px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #5bc0966c;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ff967086;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd67070;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #eaff705d;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ #features-carousel {
  --position: 1; /* Corrected to start at the first position */
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

input:nth-of-type(2):checked ~ #features-carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

input:nth-of-type(3):checked ~ #features-carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

input:nth-of-type(4):checked ~ #features-carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

input:nth-of-type(5):checked ~ #features-carousel {
  --position: 5;
}

.section_heading {
  text-align: center;
  color: #000;
  padding-top: 50px;
}

h3.features-heading {
  font-size: 35px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: #000;
  font-weight: 500;
}

h3.item-title {
  color: #e33333;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 20px;
}

p.item-para {
  color: #fff;
  text-align: center;
  margin-top: 0;
}

.item .icon {
  margin-top: 10px;
  float: right;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #e33333;
  -webkit-box-shadow: 0 0 0 2px #fff;
  -moz-box-shadow: 0 0 0 2px #fff;
  -ms-box-shadow: 0 0 0 2px #fff;
  box-shadow: 0 0 0 2px #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all ease-in 0.25s;
  -o-transition: all ease-in 0.25s;
  -webkit-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s;
}

.item i.fa-regular.fa-face-smile,
.item i.fa-solid.fa-globe,
.item i.fa-solid.fa-gamepad,
.item i.fa-brands.fa-teamspeak,
.item i.fa-solid.fa-trophy {
  font-size: 30px;
  color: #e33333;
  margin-top: 14px;
}

.item .icon:hover {
  color: white;
  background: red;
}

.marquee-wrapper {
  overflow: hidden;
  width: 100%;
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.slide {
  margin-right: 0px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
}

100% {
    transform: translateX(calc(-250px * 7));
}
}


.spin {
  animation: spin 2s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .slide img {
      width: 150px;
      height: auto;
  }
}